<!-- HTML Base para los templates -->
{% extends 'base.html' %}
{% block title %}Lobby de juego{% endblock title %}
{% load static %}
<!-- Bloque en donde se encuentra el template a agregar al Base 
    Esta es la de iniciador de la partida
-->
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="x-2 col-5 bg-light border">
                <h1>Columna1</h1>
                <div class="row">
                    <div class="card col" style="width: 18rem;">
                        <img src="../static/img/15.PNG" class="card-img-top" alt="...">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Guillermo</li>
                                <li class="list-group-item">Programador</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card col " style="width: 18rem;">
                        <img src="../static/img/2.PNG" class="card-img-top" alt="...">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Guillermo</li>
                                <li class="list-group-item">Programador</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card col" style="width: 18rem;">
                        <img src="../static/img/3.PNG" class="card-img-top" alt="...">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Guillermo</li>
                                <li class="list-group-item">Programador</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card col" style="width: 18rem;">
                        <img src="../static/img/4.PNG" class="card-img-top" alt="...">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Guillermo</li>
                                <li class="list-group-item">Programador</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
            <div class="x-2 col-5 bg-light border">
                <h1>Columna2</h1>
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <td>Quién</td>
                            <td>Notas</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Carlos</td>
                            <td>La tiene J.F. Kennedy</td>
                        </tr>
                        <tr>
                            <td>Carlos</td>
                            <td>La tiene J.F. Kennedy</td>
                        </tr>
                        <tr>
                            <td>Carlos</td>
                            <td>La tiene J.F. Kennedy</td>
                        </tr>
                        <tr>
                            <td>Carlos</td>
                            <td>La tiene J.F. Kennedy</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <td>Quién</td>
                            <td>Notas</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Carlos</td>
                            <td>La tiene J.F. Kennedy</td>
                        </tr>
                        <tr>
                            <td>Carlos</td>
                            <td>La tiene J.F. Kennedy</td>
                        </tr>
                        <tr>
                            <td>Carlos</td>
                            <td>La tiene J.F. Kennedy</td>
                        </tr>
                        <tr>
                            <td>Carlos</td>
                            <td>La tiene J.F. Kennedy</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Div de botones -->
                <div class="row">
                    <div class="col"><button class="btn btn-primary">Preguntar</button></div>
                    <div class="col"><button class="btn btn-primary" onclick="abrir_modal_pregunta('{% url  %}')">Acusar</button></div>
                </div>
            </div>
        </div>
    </div><!-- Fin de módulo a copiar -->

    <div class="modal fade" id="modal_pregunta" role="dialog">

    </div>

{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        function abrir_modal_pregunta(url) {
            $('#modal_pregunta').load(url), function name(params) {
                $(this).modal('show');
            }
        }
    </script>
{% endblock scripts %}
    