<!-- HTML Base para los templates -->
{% extends 'base.html' %}
{% block title %}Lobby de juego{% endblock title %}
{% load static %}
<!-- Bloque en donde se encuentra el template a agregar al Base 
    Esta es la de iniciador de la partida
-->
{% block content %}
<div>
    

    <div > </div>
    Hola: 
<br>

      

    <form method="GET" action="/inicio-partida/"> <!--action="/barajar-sistema/" -->
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" name="nick1" value={{nick}}>
        El codigo de la partida es:
        <input class="btn btn-primary" type="text" id="codigo" name="codigo" value="{{r}}">
        <br>
        <button>Iniciar Partida</button>
    </form>

        

</div>

{% endblock %}



